---
import { ZainoRoadmapCanvas  } from "@/components/zaino_roadmap";
import BaseLayout from "@/layouts/BaseLayout.astro";

---
<BaseLayout title="Zaino Roadmap">
  <h1>Zaino Roadmap</h1>
  <ZainoRoadmapCanvas client:idle  />
</BaseLayout>