---
import FlowCanvas from "@/components/FlowCanvas";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { MarkerType } from "@xyflow/react";
---
<BaseLayout title="Zcashd Deprecation">
    <h1>Zcashd Deprecation</h1>
    <FlowCanvas client:idle
        nodes={[
            { id: '1', data: { label: '1.1' }, position: { x: 0, y: 0 } },
            { id: '2', data: { label: '1.2' }, position: { x: 200, y: 0 } }, 
            { id: '3', data: { label: '1.3' }, position: { x: 100, y: 100 } },
            { id: '4', data: { label: 'Node' }, position: { x: 100, y: 200 } }, 
        ]}
        edges={[
            { id: '1', source: '1', target: '3' },
            { id: '2', source: '2', target: '3' },
            { id: '3', source: '3', target: '4' },
        ]}
    />
</BaseLayout>