---
import DagreFlow from "@/components/DagreFlow";
import FlowCanvas from "@/components/FlowCanvas";
import zcashd_deprecation from "@/data/zcashd_deprecation";
import BaseLayout from "@/layouts/BaseLayout.astro";

const { nodes, edges } = zcashd_deprecation;

---
<BaseLayout title="Zcashd Deprecation">
    <h1>Zcashd Deprecation</h1>
    <FlowCanvas client:idle
        nodes={nodes}
        edges={edges}
    />
    <!-- <DagreFlow client:idle /> -->
</BaseLayout>