---
import FlowCanvas from "@/components/FlowCanvas";
import zcashd_deprecation, { transformDAG } from "@/data/zcashd_deprecation";
import BaseLayout from "@/layouts/BaseLayout.astro";

const { nodes, edges } = transformDAG(zcashd_deprecation);

---
<BaseLayout title="Zcashd Deprecation">
    <h1>Zcashd Deprecation</h1>
    <FlowCanvas client:idle
        nodes={nodes}
        edges={edges}
    />
</BaseLayout>