---
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "./ui/card";

import { projects } from "@/data/projects";
import FeaturedItemCard from "@/components/FeaturedItemCard";

const featuredItems = [ ...projects]
---
<section class="flex flex-col gap-4">
    <h1 class="text-2xl w-full font-semibold text-start">Featured projects</h1>
    <div class="grid grid-cols-2 gap-4">
        {featuredItems.map((item) => {
            return <FeaturedItemCard item={item} />
        })}
    </div>
</section>
